---
const currentPath = Astro.url.pathname
---

<header class="mt-12">
  <h1 class="font-semibold text-2xl mb-4">## links</h1>
  <nav>
    <ul>
      <!--<li>-->
      <!--  <a href="/">Home</a>-->
      <!--</li>-->
      <li class="hover:text-[#FF0099]">
        <a href="/blog">blog</a>
      </li>
      <li class="hover:text-[#FF0099]">
        <a href="/projects">projects</a>
      </li>
    </ul>
  </nav>
</header>