---
interface Props {
  title: string
  description?: string
}

const { title, description = 'A minimal portfolio' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="min-h-dvh flex items-center justify-center p-6 font-mono text-xs font-normal">
    <div class="max-w-[500px] w-full mb-20">
      <slot />
    </div>
  </body>
</html>